In [1]:
import pandas as pd
h1 = pd.read_csv('h1.csv')
h2 = pd.read_csv('h2.csv')

# A

In [2]:
print(f'h1 shape: {h1.shape}')
print(f'h2 shape: {h2.shape}')

h1 shape: (303, 8)
h2 shape: (303, 8)

# B

In [3]:
h1[:5]

   id  age  sex  cp  trestbps  chol  fbs  restecg
0   1   63    1   3       145   233    1        0
1   2   37    1   2       130   250    0        1
2   3   41    0   1       130   204    0        0
3   4   56    1   1       120   236    0        1
4   5   57    0   0       120   354    0        1

# C

In [4]:
h2[-10:]

      id  thalach  exang  oldpeak  slope  ca  thal  target
293  294      150      0      0.8      1   0     3       0
294  295      144      1      2.8      0   0     1       0
295  296      144      1      4.0      2   2     3       0
296  297      136      1      0.0      1   0     2       0
297  298       90      0      1.0      1   2     1       0
298  299      123      1      0.2      1   0     3       0
299  300      132      0      1.2      1   0     3       0
300  301      141      0      3.4      1   2     3       0
301  302      115      1      1.2      1   1     3       0
302  303      174      0      0.0      1   1     2       0

# D

In [5]:
print(f'Number of unique Ids in h1: {h1.id.nunique()}')
print(f'Number of unique Ids in h2: {h2.id.nunique()}')

Number of unique Ids in h1: 303
Number of unique Ids in h2: 303

# E

In [6]:
print(f'Columns in h1: {h1.columns}')
print(f'Columns in h2: {h2.columns}')

Columns in h1: Index(['id', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg'], dtype='object')
Columns in h2: Index(['id', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'], dtype='object')

# F

In [7]:
h_merged = pd.merge(h1, h2, on='id')
print('the primary key for merging is id')
h_merged.to_csv('h_merged.csv', index=False)

the primary key for merging is id

# G

In [8]:
print(f'Index column names: {h_merged.index.names}') 
print(f'Count of non-missing values: {h_merged.count()}')
print(f'Data types: {h_merged.dtypes}')

Index column names: [None]
Count of non-missing values: id          303
age         303
sex         303
cp          303
trestbps    303
chol        303
fbs         303
restecg     303
thalach     303
exang       303
oldpeak     303
slope       303
ca          303
thal        303
target      303
dtype: int64
Data types: id            int64
age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

# H

In [9]:
female_h = h_merged[h_merged['sex'] == 0]
print("Number of observations in female_h:", len(female_h))

Number of observations in female_h: 96

# I

In [10]:
male_h = h_merged[h_merged['sex'] == 1]
print("Number of observations in male_h:", len(male_h))

Number of observations in male_h: 207

# J

In [11]:
avg_men = male_h[['cp', 'trestbps', 'chol', 'thalach']].mean()
avg_women = female_h[['cp', 'trestbps', 'chol', 'thalach']].mean()

print(f"男性各指標的平均值：\n{avg_men}")
print(f"女性各指標的平均值：\n{avg_women}")

for col in ['cp', 'trestbps', 'chol', 'thalach']:
    if avg_men[col] > avg_women[col]:
        print(f"{col} - Male: {avg_men[col]:.2f} | Female: {avg_women[col]:.2f}")

男性各指標的平均值：
cp            0.932367
trestbps    130.946860
chol        239.289855
thalach     148.961353
dtype: float64
女性各指標的平均值：
cp            1.041667
trestbps    133.083333
chol        261.302083
thalach     151.125000
dtype: float64

# K

In [ ]:
male_avg_chol = male_h['chol'].mean()
male_chol = male_h[male_h['chol'] < male_avg_chol]

male_chol

0       True
1      False
3       True
5       True
7      False
       ...
295     True
297     True
299    False
300     True
301     True
Name: chol, Length: 207, dtype: bool

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
5,6,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
8,9,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,10,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,295,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,296,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
297,298,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
300,301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0

# L

In [13]:
female_avg_trestbps = female_h['trestbps'].mean()

female_trestbps = female_h[female_h['trestbps'] > female_avg_trestbps]

female_trestbps

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
6,7,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
14,15,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
17,18,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
19,20,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
25,26,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
28,29,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
35,36,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1
36,37,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
38,39,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
39,40,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
40,41,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
49,50,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
54,55,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
65,66,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
75,76,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
96,97,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
102,103,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1
107,108,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
110,111,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
112,113,64,0,2,140,313,0,1,133,0,0.2,2,0,3,1
119,120,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1
127,128,67,0,2,152,277,0,1,172,0,0.0,2,1,2,1
128,129,52,0,2,136,196,0,0,169,0,0.1,1,0,2,1
130,131,54,0,2,160,201,0,1,163,0,0.0,2,1,2,1
131,132,49,0,1,134,271,0,1,162,0,0.0,1,0,2,1
144,145,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
147,148,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
153,154,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,155,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
167,168,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
181,182,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
204,205,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
207,208,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
213,214,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
220,221,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
223,224,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
241,242,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0
246,247,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
252,253,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
258,259,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
260,261,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
266,267,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
278,279,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
292,293,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
298,299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0